<!DOCTYPE HTML>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Combinaisons - Le grenier de mamie</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
    <body>
        <div class="container-fluid px-0">
            <nav class="navbar-expand navcolor">
                <div class="container-fluid px-0">
                    <div class="row w-100">
                        <div class="col-3 d-flex align-items-center">
                            <a class="navbar-brand" href="/">
                                <img src="/resources/logo.png" alt="Le grenier de mamie" id="logo_brand">
                            </a>
                        </div>
                        <div class="col-6 d-flex align-items-center justify-content-center">
                            <form class="form-inline d-flex w-100" method="get" action="http://localhost:8080/search">
                                <div class="input-group w-100 w-sm-75 w-md-60 w-lg-80">
                                    <input class="form-control" id="searchbar" name="recherche" type="search"
                                           placeholder="Rechercher"/>
                                    <button id="search-button" type="button" class="btn bg-light">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="col-3 d-flex align-items-center justify-content-end flex-wrap">
                            <div class="dropdown">
                                <a href="/profil" role="button" id="userMenu" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-solid fa-user fa-xl logos m-md-2 m-1"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                                    <%if(activeSession){
                                        if(user.loginType === 'gerants'){ %>
                                         <a class="dropdown-item" href="/stock">Gérer</a>
                                         <a class="dropdown-item" href="/commandes">Commandes</a>
                                        <%}%>
                                         <a class="dropdown-item" href="/disconnect">Déconnexion</a>
                                     <%}else{%>
                                         <a class="dropdown-item" href="/login">Connexion</a>
                                         <a class="dropdown-item" href="/register">S'enregistrer</a>
                                     <%}%>
                                 </div>
                            </div>
                            <a href="/panier">
                                <i class="fa-solid fa-cart-shopping fa-xl logos m-md-2 m-1"></i>
                            </a>
                            <p id="total-panier" class="d-flex align-items-center justify-content-end mb-0"><%= prixTotal %>€</p>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="container-fluid px-0">
                <nav class="navbar navbar-expand-xl navbar-light navcolor" id="categ">
                    <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navArticles"
                            aria-controls="navArticles" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center" id="navArticles">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link categorie" href="/pantalons">pantalons</a>
                            <a class="nav-item nav-link categorie" href="/shorts">shorts</a>
                            <a class="nav-item nav-link categorie" href="/chemises">chemises</a>
                            <a class="nav-item nav-link categorie" href="/vestes">vestes</a>
                            <a class="nav-item nav-link categorie" href="/pulls">pulls</a>
                            <a class="nav-item nav-link categorie" href="/costumes">costumes</a>
                            <a class="nav-item nav-link categorie" href="/manteaux">manteaux</a>
                            <a class="nav-item nav-link categorie" href="/robes">robes</a>
                            <a class="nav-item nav-link categorie" href="/chaussettes">chaussettes</a>
                            <a class="nav-item nav-link categorie" href="/combinaisons">combinaisons</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="container-fluid main-frame">
            <div class="container">
                <div class="row row-centered">
                    <% if(elements.length === 0){ %>
                        <h4>Aucun résultat</h4>
                    <% }
                    else{
                        elements.forEach(elem => { %>
                            <div class="col-xl-5 col-lg-3 col-md-4 col-sm-6">
                                <a href="/combinaison/<%= elem.id_combinaison %>" class="card-link">
                                <div class="card mb-4">
                                    <img src="<%= elem.image %>" class="card-img-top product"
                                         alt="product's image">
                                    <div class="card-body text-left">
                                        <h5 class="card-title product"><%= elem.type %></h5>
                                        <p class="card-text product"><%= elem.prix %> €</p>
                                    </div>
                                </div>
                                </a>
                            </div>
                        <% });
                    } %>
                </div>
            </div>
            <% if(totalPages>1){ %>
                <div class="container justify-content-center">
                    <input id="total-pages" type="hidden" value="<%= totalPages %>">
                    <input id="current-page" type="hidden" value="<%= currentPage %>">
                    <button id="prev-btn" type="button" class="btn btn-primary mx-2">Précédent</button>
                    <button id="next-btn" type="button" class="btn btn-primary mx-2">Suivant</button>
                </div>
            <% } %>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/js/pagination.js"></script>
        <script src="/js/panier.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/607cb4a3b6.js" crossorigin="anonymous"></script>
    </body>
</html>