<!DOCTYPE HTML>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title><%= combinedCombinaison.type %> - Le grenier de mamie</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
    <body>
    <div class="container-fluid px-0">
        <nav class="navbar-expand navcolor">
            <div class="container-fluid px-0">
                <div class="row w-100">
                    <div class="col-3 d-flex align-items-center">
                        <a class="navbar-brand" href="/">
                            <img src="/resources/logo.png" alt="Le grenier de mamie" id="logo_brand">
                        </a>
                    </div>
                    <div class="col-6 d-flex align-items-center justify-content-center">
                        <form class="form-inline d-flex w-100" method="get" action="http://localhost:8080/search">
                            <div class="input-group w-100 w-sm-75 w-md-60 w-lg-80">
                                <input class="form-control" id="searchbar" name="recherche" type="search"
                                       placeholder="Rechercher"/>
                                <button id="search-button" type="button" class="btn bg-light">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-3 d-flex align-items-center justify-content-end flex-wrap">
                        <div class="dropdown">
                            <a href="/profil" role="button" id="userMenu" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-user fa-xl logos m-md-2 m-1"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                                <%if(activeSession){%>
                                     <a class="dropdown-item" href="/stock">Gérer</a>
                                     <a class="dropdown-item" href="/commandes">Commandes</a>
                                     <a class="dropdown-item" href="/disconnect">Déconnexion</a>
                                 <%}else{%>
                                     <a class="dropdown-item" href="/login">Connexion</a>
                                     <a class="dropdown-item" href="/register">S'enregistrer</a>
                                 <%}%>
                             </div>
                        </div>
                        <a href="/panier">
                            <i class="fa-solid fa-cart-shopping fa-xl logos m-md-2 m-1"></i>
                        </a>
                        <p id="total-panier" class="d-flex align-items-center justify-content-end mb-0"><%= prixTotal %>€</p>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container-fluid px-0">
            <nav class="navbar navbar-expand-xl navbar-light navcolor" id="categ">
                <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navArticles"
                        aria-controls="navArticles" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navArticles">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link categorie" href="/pantalons">pantalons</a>
                        <a class="nav-item nav-link categorie" href="/shorts">shorts</a>
                        <a class="nav-item nav-link categorie" href="/chemises">chemises</a>
                        <a class="nav-item nav-link categorie" href="/vestes">vestes</a>
                        <a class="nav-item nav-link categorie" href="/pulls">pulls</a>
                        <a class="nav-item nav-link categorie" href="/costumes">costumes</a>
                        <a class="nav-item nav-link categorie" href="/manteaux">manteaux</a>
                        <a class="nav-item nav-link categorie" href="/robes">robes</a>
                        <a class="nav-item nav-link categorie" href="/chaussettes">chaussettes</a>
                        <a class="nav-item nav-link categorie" href="/combinaisons">combinaisons</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="container-fluid px-0 main-frame">
        <div class="container">
            <div class="row">
                <!-- Colonne des images -->
                <div class="col-md-6">
                    <% combinedCombinaison.products.forEach((product, index) => { %>
                        <div class="mb-3 d-flex justify-content-center">
                            <img src="<%= product.image_prod %>" class="img-fluid product-image w-100" alt="<%= product.nom_produit %>">
                        </div>
                    <% }); %>
                </div>

                <!-- Colonne des infos produits -->
                <div class="col-md-6">
                    <form method="post" action="/" id="add-to-panier-combinaison-form">
                        <input type="hidden" name="id_combi" value="<%= combinedCombinaison.id_combinaison %>">
                        <% let disableButton = false; %>
                        <h3><%= combinedCombinaison.type %></h3>
                        <% combinedCombinaison.products.forEach((produit, index) => { %>
                            <div class="mb-5" >
                                <div class="form-group">
                                    <input type="hidden" name="id_produit" class="id_produit" value="<%= produit.id_produit %>">
                                    <% if(produit.accessoire.length > 0){ %>
                                        <input type="hidden" name="accessoire_lie" class="accessoire_lie" value="<%= produit.accessoire[0].id_accessoire %>">
                                    <%}%>
                                    <h5 ><%= produit.nom_produit %></h5>
                                    <label for="size-select-<%= index %>">Taille</label>
                                    <% if (produit.tailles.length === 0) {
                                        disableButton = true; %>
                                    <select class="form-control" id="size-select-<%= index %>" disabled>
                                        <option value="-1">Aucune taille</option>
                                    </select>
                                    <% }
                                    else { %>
                                        <select class="form-control taille-select" id="size-select-<%= index %>">
                                            <% produit.tailles.forEach((taille) => { %>
                                                <option value="<%= taille.taille %>"><%= taille.taille %></option>
                                            <% }); %>
                                        </select>
                                    <% } %>
                                </div>
                                <% if (produit.accessoire.length > 0) { %>
                                    <p class="accessoire_lie">Accessoire: <%= produit.accessoire[0].nom_accessoire %></p>
                                <% } %>
                            </div>
                        <% }); %>
                            <h6 class="mb-2 text-muted" id="prix_produit"><%= combinedCombinaison.prix %> €</h6>
                        <% if (disableButton){ %>
                            <button type="button" class="btn btn-primary" disabled>Rupture de stock</button>
                        <% }
                        else{ %>
                            <button type="submit" class="btn btn-primary" id="add-to-panier-btn">Ajouter au panier</button>
                        <% } %>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/607cb4a3b6.js" crossorigin="anonymous"></script>
    <script src="/js/panier.js"></script>
    </body>
</html>