<!DOCTYPE HTML>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Commandes - Le grenier de mamie</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
    <body>
    <div class="container-fluid px-0">
        <nav class="navbar-expand navcolor">
            <div class="container-fluid px-0">
                <div class="row w-100">
                    <div class="col-3 d-flex align-items-center">
                        <a class="navbar-brand" href="/">
                            <img src="/resources/logo.png" alt="Le grenier de mamie" id="logo_brand">
                        </a>
                    </div>
                    <div class="col-6 d-flex align-items-center justify-content-center">
                        <form class="form-inline d-flex w-100" method="get" action="http://localhost:8080/search">
                            <div class="input-group w-100 w-sm-75 w-md-60 w-lg-80">
                                <input class="form-control" id="searchbar" name="recherche" type="search"
                                       placeholder="Rechercher"/>
                                <button id="search-button" type="button" class="btn bg-light">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-3 d-flex align-items-center justify-content-end flex-wrap">
                        <div class="dropdown">
                            <a href="/profil" role="button" id="userMenu" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-user fa-xl logos m-md-2 m-1"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                                <%if(activeSession){%>
                                     <a class="dropdown-item" href="/stock">Gérer</a>
                                     <a class="dropdown-item" href="/commandes">Commandes</a>
                                     <a class="dropdown-item" href="/disconnect">Déconnexion</a>
                                 <%}else{%>
                                     <a class="dropdown-item" href="/login">Connexion</a>
                                     <a class="dropdown-item" href="/register">S'enregistrer</a>
                                 <%}%>
                             </div>
                        </div>
                        <a href="/panier">
                            <i class="fa-solid fa-cart-shopping fa-xl logos m-md-2 m-1"></i>
                        </a>
                        <p id="total-panier" class="d-flex align-items-center justify-content-end mb-0"><%= prixTotal %>€</p>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container-fluid px-0">
            <nav class="navbar navbar-expand-xl navbar-light navcolor" id="categ">
                <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navArticles"
                        aria-controls="navArticles" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navArticles">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link categorie" href="/pantalons">pantalons</a>
                        <a class="nav-item nav-link categorie" href="/shorts">shorts</a>
                        <a class="nav-item nav-link categorie" href="/chemises">chemises</a>
                        <a class="nav-item nav-link categorie" href="/vestes">vestes</a>
                        <a class="nav-item nav-link categorie" href="/pulls">pulls</a>
                        <a class="nav-item nav-link categorie" href="/costumes">costumes</a>
                        <a class="nav-item nav-link categorie" href="/manteaux">manteaux</a>
                        <a class="nav-item nav-link categorie" href="/robes">robes</a>
                        <a class="nav-item nav-link categorie" href="/chaussettes">chaussettes</a>
                        <a class="nav-item nav-link categorie" href="/combinaisons">combinaisons</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!--
    <div class="container-fluid main-frame">
        <h2>Commandes récentes</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Commande n°</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Produits</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <% elements.forEach(element => { %>
                    <% let commande = element;
                    let commande_info = commande[0];
                    %>
                    <tr data-order-id="<%= commande_info.id_commande %>">
                        <td><%= commande_info.id_commande %></td>
                        <td><%= commande_info.prenom %></td>
                        <td><%= commande_info.nom %></td>
                        <td>
                            <% if(commande.produits) { %>
                                <div>
                                    <% commande.produits.forEach(produit => { %>
                                        <div>
                                            <span><%= produit.produit.nom_produit %> (Quantité: <%= produit.quantite %>, Taille: <%= produit.produit.taille %>, Accessoire: <%= produit.produit.accessoire ? produit.produit.accessoire.nom_accessoire : 'N/A' %>)</span>
                                        </div>
                                    <% }); %>
                                </div>
                            <% } %>

                            <% if(element.combis) { %>
                                <div>
                                    <h5>Combis</h5>
                                    <% element.combis.forEach(combi => { %>
                                        <div>
                                            <span>Quantité: <%= combi.quantite %></span>
                                            <ul>
                                                <li><%= combi.produit1.nom_produit %>
                                                    (Taille: <%= combi.produit1.taille %>
                                                    ,
                                                    Accessoire: <%= combi.produit1.accessoire ? combi.produit1.accessoire.nom_accessoire : 'N/A' %>
                                                    )
                                                </li>
                                                <li><%= combi.produit2.nom_produit %>
                                                    (Taille: <%= combi.produit2.taille %>
                                                    ,
                                                    Accessoire: <%= combi.produit2.accessoire ? combi.produit2.accessoire.nom_accessoire : 'N/A' %>
                                                    )
                                                </li>
                                                <li><%= combi.produit3.nom_produit %>
                                                    (Taille: <%= combi.produit3.taille %>
                                                    ,
                                                    Accessoire: <%= combi.produit3.accessoire ? combi.produit3.accessoire.nom_accessoire : 'N/A' %>
                                                    )
                                                </li>
                                            </ul>
                                        </div>
                                    <% }); %>
                                </div>
                            <% } %>
                        </td>
                        <td>
                            <button class="btn btn-danger delete-order-btn">
                                Supprimer
                            </button>
                        </td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container-fluid main-frame">
        <h2>Commandes récentes</h2>
        <div class="row bg-light text-dark mb-2">
            <div class="col-md-2">Commande n°</div>
            <div class="col-md-2">Prénom</div>
            <div class="col-md-2">Nom</div>
            <div class="col-md-5">Contenu</div>
            <div class="col-md-1"></div>
        </div>
        <% elements.forEach(element => { %>
            <% let commande_info = element[0]; %>
            <div class="row mb-2"
                 data-order-id="<%= commande_info.id_commande %>">
                <div class="col-md-2"><%= commande_info.id_commande %></div>
                <div class="col-md-2"><%= commande_info.prenom %></div>
                <div class="col-md-2"><%= commande_info.nom %></div>
                <div class="col-md-5">
                    <% if(element.produits && element.produits.length > 0) { %>
                        <div>
                            <h6 class="font-weight-bold">Produits:</h6>
                            <% element.produits.forEach(produit => { %>
                                <div>
                                    <span><%= produit.produit.produit.nom_produit %> (Quantité: <%= produit.quantite %>, Taille: <%= produit.produit.taille %>, Accessoire: <%= produit.produit.accessoire ? produit.produit.accessoire.nom_accessoire : 'N/A' %>)</span>
                                </div>
                            <% }); %>
                        </div>
                    <% } %>
                    <% if(element.combis && element.combis.length > 0) { %>
                        <div>
                            <h6 class="font-weight-bold">Combinaisons:</h6>
                            <% element.combis.forEach(combi => { %>
                                <div>
                                    <span>Quantité: <%= combi.quantite %></span>
                                    <ul>
                                        <li><%= combi.produit1.produit.nom_produit %>
                                            (Taille: <%= combi.produit1.produit.taille %>
                                            ,
                                            Accessoire: <%= combi.produit1.accessoire ? combi.produit1.accessoire.nom_accessoire : 'N/A' %>
                                            )
                                        </li>
                                        <li><%= combi.produit2.produit.nom_produit %>
                                            (Taille: <%= combi.produit2.taille %>
                                            ,
                                            Accessoire: <%= combi.produit2.accessoire ? combi.produit2.accessoire.nom_accessoire : 'N/A' %>
                                            )
                                        </li>
                                        <li><%= combi.produit3.produit.nom_produit %>
                                            (Taille: <%= combi.produit3.taille %>
                                            ,
                                            Accessoire: <%= combi.produit3.accessoire ? combi.produit3.accessoire.nom_accessoire : 'N/A' %>
                                            )
                                        </li>
                                    </ul>
                                </div>
                            <% }); %>
                        </div>
                    <% } %>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-danger delete-order-btn">
                        Supprimer
                    </button>
                </div>
            </div>
        <% }); %>
    </div>
    -->
    <div class="container-fluid main-frame">
        <h2>Commandes récentes</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Commande n°</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Contenu</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                <% elements.forEach(element => { %>
                    <% let commande_info = element[0]; %>
                    <tr data-order-id="<%= commande_info.id_commande %>">
                        <td><%= commande_info.id_commande %></td>
                        <td><%= commande_info.prenom %></td>
                        <td><%= commande_info.nom %></td>
                        <td>
                            <% if(element.produits && element.produits.length > 0) { %>
                                <div>
                                    <h6 class="font-weight-bold">Produits:</h6>
                                    <% element.produits.forEach(produit => { %>
                                        <div>
                                            <span><%= produit.produit.produit.nom_produit %> (Quantité: <%= produit.quantite %>, Taille: <%= produit.produit.taille %>
                                                <% if(produit.produit.accessoire){%> , Accessoire: <%= produit.produit.accessoire.nom_accessoire %> )<%}else{%>)<%}%></span>
                                        </div>
                                    <% }); %>
                                </div>
                            <% } %>
                            <% if(element.combis && element.combis.length > 0) { %>
                                <div>
                                    <h6 class="font-weight-bold">
                                        Combinaisons:</h6>
                                    <% element.combis.forEach(combi => { %>
                                        <div>
                                            <span>Quantité: <%= combi.quantite %></span>
                                            <ul>
                                                <li><%= combi.produit1.produit.nom_produit %>
                                                    (Taille: <%= combi.produit1.taille %>
                                                    ,
                                                    Accessoire: <%= combi.produit1.accessoire ? combi.produit1.accessoire.nom_accessoire : 'N/A' %>
                                                    )
                                                </li>
                                                <li><%= combi.produit2.produit.nom_produit %>
                                                    (Taille: <%= combi.produit2.taille %>
                                                    ,
                                                    Accessoire: <%= combi.produit2.accessoire ? combi.produit2.accessoire.nom_accessoire : 'N/A' %>
                                                    )
                                                </li>
                                                <li><%= combi.produit3.produit.nom_produit %>
                                                    (Taille: <%= combi.produit3.taille %>
                                                    ,
                                                    Accessoire: <%= combi.produit3.accessoire ? combi.produit3.accessoire.nom_accessoire : 'N/A' %>
                                                    )
                                                </li>
                                            </ul>
                                        </div>
                                    <% }); %>
                                </div>
                            <% } %>
                        </td>
                        <td>
                            <button class="btn btn-danger delete-order-btn">
                                Supprimer
                            </button>
                        </td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/607cb4a3b6.js" crossorigin="anonymous"></script>
    <script src="/js/pagination.js"></script>
    <script src="/js/commandes.js"></script>
    </body>
</html>