<!DOCTYPE HTML>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Paiement - Le grenier de mamie</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
    <body>
        <div class="container-fluid px-0">
            <nav class="navbar-expand navcolor">
                <div class="container-fluid px-0">
                    <div class="row w-100">
                        <div class="col-3 d-flex align-items-center">
                            <a class="navbar-brand" href="/">
                                <img src="/resources/logo.png" alt="Le grenier de mamie" id="logo_brand">
                            </a>
                        </div>
                        <div class="col-6 d-flex align-items-center justify-content-center">
                            <form class="form-inline d-flex w-100" method="get" action="http://localhost:8080/search">
                                <div class="input-group w-100 w-sm-75 w-md-60 w-lg-80">
                                    <input class="form-control" id="searchbar" name="recherche" type="search"
                                           placeholder="Rechercher"/>
                                    <button id="search-button" type="button" class="btn bg-light">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="col-3 d-flex align-items-center justify-content-end flex-wrap">
                            <div class="dropdown">
                                <a href="/profil" role="button" id="userMenu" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-solid fa-user fa-xl logos m-md-2 m-1"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                                    <%if(activeSession){
                                        if(user.loginType === 'gerants'){ %>
                                         <a class="dropdown-item" href="/stock">Gérer</a>
                                         <a class="dropdown-item" href="/commandes">Commandes</a>
                                        <%}%>
                                         <a class="dropdown-item" href="/disconnect">Déconnexion</a>
                                     <%}else{%>
                                         <a class="dropdown-item" href="/login">Connexion</a>
                                         <a class="dropdown-item" href="/register">S'enregistrer</a>
                                     <%}%>
                                </div>
                            </div>
                            <a href="/panier">
                                <i class="fa-solid fa-cart-shopping fa-xl logos m-md-2 m-1"></i>
                            </a>
                            <p id="total-panier" class="d-flex align-items-center justify-content-end mb-0"><%= prixTotal %>€</p>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="container-fluid px-0">
                <nav class="navbar navbar-expand-xl navbar-light navcolor" id="categ">
                    <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navArticles"
                            aria-controls="navArticles" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center" id="navArticles">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link categorie" href="/pantalons">pantalons</a>
                            <a class="nav-item nav-link categorie" href="/shorts">shorts</a>
                            <a class="nav-item nav-link categorie" href="/chemises">chemises</a>
                            <a class="nav-item nav-link categorie" href="/vestes">vestes</a>
                            <a class="nav-item nav-link categorie" href="/pulls">pulls</a>
                            <a class="nav-item nav-link categorie" href="/costumes">costumes</a>
                            <a class="nav-item nav-link categorie" href="/manteaux">manteaux</a>
                            <a class="nav-item nav-link categorie" href="/robes">robes</a>
                            <a class="nav-item nav-link categorie" href="/chaussettes">chaussettes</a>
                            <a class="nav-item nav-link categorie" href="/combinaisons">combinaisons</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="container-fluid main-frame">
            <div class="container">
                <form method="post" action="http://localhost:8080/verify_payment">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputPrenom">Prénom</label>
                            <input type="text" class="form-control" id="inputPrenom" name="inputPrenom" placeholder="Prénom" 
                            <% if (activeSession && user.loginType === 'clients') { %>
                                value="<%= user.prenom %>"
                            <% }%>
                            required="required">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputNom">Nom</label>
                            <input type="text" class="form-control" id="inputNom" name="inputNom" placeholder="Nom" 
                            <% if (activeSession && user.loginType === 'clients') { %>
                                value="<%= user.nom %>"
                            <% }%>
                            required="required">
                        </div>
                    </div>
                    <% if (erreurs.prenom) { %>
                        <div class="alert alert-danger">
                          <%= erreurs.prenom %>
                        </div>
                    <% } %>
                    <% if (erreurs.nom) { %>
                        <div class="alert alert-danger">
                          <%= erreurs.nom %>
                        </div>
                    <% } %>
                    
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="inputHeure">Heure de livraison</label>
                            <select class="form-control" name="inputHeure">
                                <% for (var i = 9; i <= 19; i++) { %>
                                    <% for (var j = 0; j < 60; j += 30) { %>
                                        <% var heure = i + "h" + (j === 0 ? "00" : "30"); %>
                                        <option value="<%= heure %>"><%= heure %></option>
                                    <% } %>
                                <% } %>
                            </select>                            
                        </div>
                        <div class="form-group col-md-7">
                            <label for="inputNum">Numéro de téléphone</label>
                            <input type="text" class="form-control" id="inputNum" name="inputNum" placeholder="Numéro de téléphone"
                            <% if (activeSession && user.loginType === 'clients') { %>
                                value="<%= user.tel %>"
                            <% }%>
                            required="required">
                        </div>
                    </div>

                    <% if (erreurs.num) { %>
                        <div class="alert alert-danger">
                          <%= erreurs.num %>
                        </div>
                    <% } %>
                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Email"
                        <% if (activeSession && user.loginType === 'clients') { %>
                            value="<%= user.email %>"
                        <% }%>
                        required="required">
                    </div>
                    <% if (erreurs.email) { %>
                        <div class="alert alert-danger">
                          <%= erreurs.email %>
                        </div>
                    <% } %>
                    <% if (erreurs.emailExists) { %>
                        <div class="alert alert-danger">
                          <%= erreurs.emailExists %>
                        </div>
                    <% } %>
                    <div class="form-group">
                        <label for="inputAdresse">Adresse</label>
                        <input type="text" class="form-control" id="inputAdresse" name="inputAdresse" placeholder="Adresse"
                        <% if (activeSession && user.loginType === 'clients') { %>
                            value="<%= user.adresse %>"
                        <% }%>
                        required="required">
                    </div>
                    <% if (erreurs.adresse) { %>
                        <div class="alert alert-danger">
                          <%= erreurs.adresse %>
                        </div>
                    <% } %>
                    <div class="form-group">
                    <label for="inputAdresse2">Adresse 2</label>
                    <input type="text" class="form-control" id="inputAdresse2" name="inputAdresse2" placeholder="Informations complémentaires"
                    <% if (activeSession && user.loginType === 'clients') { %>
                        value="<%= user.adresse2 %>"
                    <% }%>
                    >
                    </div>
                    <% if (erreurs.adresse2) { %>
                        <div class="alert alert-danger">
                          <%= erreurs.adresse2 %>
                        </div>
                    <% } %>
                    <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="inputVille">Ville</label>
                        <input type="text" class="form-control" id="inputVille" name="inputVille" placeholder="Ville"
                        
                        <% if (activeSession && user.loginType === 'clients') { %>
                            value="<%= user.ville %>"
                        <% }%>
                        required="required">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputCode">Code Postal</label>
                        <input type="text" class="form-control" id="inputCode" name="inputCode" placeholder="Code"
                        <% if (activeSession && user.loginType === 'clients') { %>
                            value="<%= user.code %>"
                        <% }%>
                        required="required">
                    </div>
                    </div>
                    <% if (erreurs.ville) { %>
                        <div class="alert alert-danger">
                          <%= erreurs.ville %>
                        </div>
                    <% } %>
                    <% if (erreurs.code) { %>
                        <div class="alert alert-danger">
                          <%= erreurs.code %>
                        </div>
                    <% } %>
                    <button type="submit" class="btn btn-primary">Valider</button>
                </form>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/607cb4a3b6.js" crossorigin="anonymous"></script>
    </body>
</html>