<!DOCTYPE HTML>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Panier - Le grenier de mamie</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
    <body>
    <div class="container-fluid px-0">
        <nav class="navbar-expand navcolor">
            <div class="container-fluid px-0">
                <div class="row w-100">
                    <div class="col-3 d-flex align-items-center">
                        <a class="navbar-brand" href="/">
                            <img src="/resources/logo.png" alt="Le grenier de mamie" id="logo_brand">
                        </a>
                    </div>
                    <div class="col-6 d-flex align-items-center justify-content-center">
                        <form class="form-inline d-flex w-100" method="get" action="http://localhost:8080/search">
                            <div class="input-group w-100 w-sm-75 w-md-60 w-lg-80">
                                <input class="form-control" id="searchbar" name="recherche" type="search"
                                       placeholder="Rechercher"/>
                                <button id="search-button" type="button" class="btn bg-light">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-3 d-flex align-items-center justify-content-end flex-wrap">
                        <div class="dropdown">
                            <a href="/profil" role="button" id="userMenu" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-user fa-xl logos m-md-2 m-1"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                                <%if(activeSession){%>
                                     <a class="dropdown-item" href="/options">Gérer</a>
                                     <a class="dropdown-item" href="/commandes">Commandes</a>
                                     <a class="dropdown-item" href="/disconnect">Déconnexion</a>
                                 <%}else{%>
                                     <a class="dropdown-item" href="/login">Connexion</a>
                                     <a class="dropdown-item" href="/register">S'enregistrer</a>
                                 <%}%>
                             </div>
                        </div>
                        <a href="/panier">
                            <i class="fa-solid fa-cart-shopping fa-xl logos m-md-2 m-1"></i>
                        </a>
                        <p id="total-panier" class="d-flex align-items-center justify-content-end mb-0"><%= prixTotal %>€</p>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container-fluid px-0">
            <nav class="navbar navbar-expand-xl navbar-light navcolor" id="categ">
                <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navArticles"
                        aria-controls="navArticles" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navArticles">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link categorie" href="/pantalons">pantalons</a>
                        <a class="nav-item nav-link categorie" href="/shorts">shorts</a>
                        <a class="nav-item nav-link categorie" href="/chemises">chemises</a>
                        <a class="nav-item nav-link categorie" href="/vestes">vestes</a>
                        <a class="nav-item nav-link categorie" href="/pulls">pulls</a>
                        <a class="nav-item nav-link categorie" href="/costumes">costumes</a>
                        <a class="nav-item nav-link categorie" href="/manteaux">manteaux</a>
                        <a class="nav-item nav-link categorie" href="/robes">robes</a>
                        <a class="nav-item nav-link categorie" href="/chaussettes">chaussettes</a>
                        <a class="nav-item nav-link categorie" href="/combinaisons">combinaisons</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="container-fluid main-frame">
        <!--
        <div class="container">
            <table id="table" class="table table-image">
                <%
                if(elements.length === 0){ %>
                    <p class="w-25 text-center">Aucun produit dans le panier</p>
                <%
                }
                else{
                for (let i = 0; i < elements.length; i++) { %>
                    <tr data-basket-id="<%= elements[i].id_produit %>" data-basket-size="<%= elements[i].size %>" data-basket-accessoire="<%= elements[i].id_accessoire%>" data-basket-prix="<%= elements[i].prix%>" class="text-center">
                        <td><img src="<%= elements[i].image %>" class="img-fluid" alt="product's image"></td>
                        <td class="align-middle"><p><strong><%= elements[i].nom_produit %></strong></p></td>
                        <td class="align-middle"><p><%= elements[i].nom_accessoire %></p></td>
                        <td class="align-middle"><%= elements[i].prix * elements[i].quantity %> €</td>
                        <td class="align-middle"><%= elements[i].size %></td>
                        <td class="align-middle"><%= elements[i].quantity %></td>
                        <td class="align-middle">
                            <button class="btn btn-danger delete-basket-btn">Supprimer</button>
                        </td>
                    </tr>
                <% }
                } %>
            </table>
            <a href="/paiement" class="w-25 text-center btn btn-primary">Payer</a>
        </div>

        <div class="container">
            <table id="table" class="table table-image table-responsive">
                <% if(elements.length === 0) { %>
                    <p class="w-25 text-center">Aucun produit dans le panier</p>
                <% } else {
                for (let i = 0; i < elements.length; i++) {
                    const element = elements[i];
                if (element.type === 'combinaison') { %>
                    <tr data-basket-id="<%= element.combinaisonId %>" class="text-center">
                        <td><img src="<%= element.image %>" class="img-fluid img-thumbnail" alt="Combinaison image">
                        </td>
                        <td class="align-middle">
                            <p><strong>Combinaison:</strong></p>
                            <% element.produits.forEach((produit) => { %>
                                <p><strong><%= produit.nom_produit %>:</strong> Taille <%= produit.taille %></p>
                            <% }); %>
                        </td>
                        <td class="align-middle"><%= element.quantity %></td>
                        <td class="align-middle"><%= element.prix %> €</td>
                        <td class="align-middle">
                            <button class="btn btn-danger delete-basket-btn">Supprimer</button>
                        </td>
                    </tr>
                <% } else { %>
                    <tr data-basket-id="<%= element.id_produit %>" data-basket-size="<%= element.size %>"
                        data-basket-accessoire="<%= element.id_accessoire %>" data-basket-prix="<%= element.prix %>"
                        class="text-center">
                        <td><img src="<%= element.image %>" class="img-fluid img-thumbnail" alt="Product image"></td>
                        <td class="align-middle">
                            <p><strong><%= element.nom_produit %>:</strong> Taille <%= element.taille %></p>
                        </td>
                        <td class="align-middle"><%= element.quantity %></td>
                        <td class="align-middle"><%= element.prix * element.quantity %> €</td>
                        <td class="align-middle">
                            <button class="btn btn-danger delete-basket-btn">Supprimer</button>
                        </td>
                    </tr>
                <% }
                }
                } %>
            </table>
            <a href="#" class="w-25 text-center btn btn-primary">Payer</a>
        </div>
        -->
        <div class="container">
            <% if(elements.length === 0) { %>
                <p class="w-25 text-center">Aucun produit dans le panier</p>
            <% } else {
            for (let i = 0; i < elements.length; i++) {
                const element = elements[i];
                if (element.type === 'combinaison') { %>
                    <div class="row border-bottom pb-3 mb-3">
                        <div class="col-md-3 text-center">
                            <img src="<%= element.image %>" class="img-fluid img-panier" alt="Combinaison image">
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-sm-6 panier-name" style="text-transform: uppercase"><strong><%= element.nom %>:</strong></div>
                                <div class="col-sm-3 text-md-end panier-name"><strong>Quantité: <%= element.quantity %></strong></div>
                                <div class="col-sm-3 text-md-end panier-name"><%= element.prix %> €</div>
                            </div>
                            <% element.produits.forEach((produit) => { %>
                                <div class="row">
                                    <div class="col-sm-6"><%= produit.nom_produit %><strong>  <%= produit.taille %></strong></div>
                                </div>
                                <% if (produit.id_accessoire !== '') { %>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h6 class="card-subtitle m-1 text-muted"><%= produit.nom_accessoire %></h6>
                                        </div>
                                    </div>
                                <% } %>
                            <% }); %>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-danger delete-basket-btn panier-name">Supprimer</button>
                        </div>
                    </div>
                <% } else { %>
                    <div class="row border-bottom pb-3 mb-3">
                        <div class="col-md-3 text-center">
                            <img src="<%= element.image %>" class="img-fluid img-panier" alt="Product image">
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-sm-6 panier-name" style="text-transform: uppercase"><strong><%= element.nom_produit %></strong></div>
                                <div class="col-sm-3 text-md-end panier-name"><strong>Quantité: <%= element.quantity %></strong></div>
                                <div class="col-sm-3 text-md-end panier-name"><%= element.prix %> €</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6"><strong><%= element.taille %></strong></div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-danger delete-basket-btn panier-name">Supprimer</button>
                        </div>
                    </div>
                <% }
                }
            } %>
            <div class="row">
                <div class="col text-center">
                    <a href="#" class="btn btn-primary">Payer</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/panier.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/607cb4a3b6.js" crossorigin="anonymous"></script>
    </body>
</html>