<!DOCTYPE HTML>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Le grenier de mamie</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <nav class="navbar navbar-expand-md navbar-light justify-content-between">
                    <a class="navbar-brand" href="/"><img src="/ressources/logo.png" alt="Le grenier de mamie" id="logo_tmp"></a>
                    <form class="form-inline" method="post" action="http://localhost:8080">
                        <div class="input-group">
                            <input id="search-input" type="text" id="search" placeholder="Rechercher" class="form-control"/>
                            <div class="input-group-append">
                                <button id="search-button" type="button" class="btn bg-light">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <a href="panier"><img id="panier" src="/ressources/panier.png"></a>
                </nav>
            </div>
            <div class="row">
                <nav class="navbar navbar-expand-lg navbar-light" id="categ">
                    <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navArticles"
                            aria-controls="navArticles" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navArticles">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link categorie" href="/pantalons">pantalons</a>
                            <a class="nav-item nav-link categorie" href="/shorts">shorts</a>
                            <a class="nav-item nav-link categorie" href="/chemises">chemises</a>
                            <a class="nav-item nav-link categorie" href="/vestes">vestes</a>
                            <a class="nav-item nav-link categorie" href="/pulls">pulls</a>
                            <a class="nav-item nav-link categorie" href="/costumes">costumes</a>
                            <a class="nav-item nav-link categorie" href="/manteaux">manteaux</a>
                            <a class="nav-item nav-link categorie" href="/robes">robes</a>
                            <a class="nav-item nav-link categorie" href="/chaussettes">chaussettes</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container">  
                        <img src="/src" class="card-img-top" alt="product's image">
                        <div class="card mb-6">
                            <div class="card-body text-left">
                                <h5 class="card-title"><%= elements[0].nom_produit %></h5>
                                <h6 class="card-subtitle mb-2 text-muted"><%= elements[0].prix %> €</h6>
                                <p class="card-text"><%= elements[0].marque %></p>
                                <select>
                                    <option value="XS">XS</option>
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                    <option value="XXL">XXL</option>
                                </select>
                                <select>
                                    <% for(let i = 0; i < accessoires.length ; i++){%>
                                        <option value=<%=accessoires[i].id_accessoire %>> <%= accessoires[i].nom_accessoire %></option>
                                        <% }%>
                                </select>
                                <a href="#" class="btn btn-primary">Ajouter au panier</a>
                            </div>
                        </div>
            </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        </div>
    </body>
</html>